_site/
.quarto/
docs/

/.quarto/
.Rproj.user

/*.Rproj
**/.DS_Store

# History files
.Rhistory
.Rapp.history

# Metadata files
_metadata_exports/
scorexiv_module_categories_extraction.R

# Session Data files
.RData
.RDataTmp
.Ruserdata

# Word temporary and autosave files
~$*
*.tmp
*.bak
*.wbk
*.asd
*.lnk
*.lock
*.docx~